<?xml version="1.0" encoding="utf-8"?>
<TemplateExport xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <JoysticksUsed>
    <TemplateDevice>
      <id>1000</id>
      <name>Bravo Throttle Quadrant</name>
      <guid>55dc1710-53a1-11ec-8001-444553540000</guid>
    </TemplateDevice>
  </JoysticksUsed>
  <template>
    <aircraftId>FNX320</aircraftId>
    <airFileId>FNX320</airFileId>
    <loadFromMaster>false</loadFromMaster>
    <buttons>
      <GlobalHotkey>
        <downEvent>
          <Group>FNX320_FCU</Group>
          <Description>RPN</Description>
          <SimulatorEventName>FNX320_FCU-SPEED_PULL</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <RollMultiplier>1</RollMultiplier>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <upEvent>
          <Group>FNX320_FCU</Group>
          <Description>RPN</Description>
          <SimulatorEventName>FNX320_FCU-SPEED_PUSH</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <RollMultiplier>1</RollMultiplier>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </upEvent>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <repeatLimit>0</repeatLimit>
        <joystickGuid>55dc1710-53a1-11ec-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>6</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <rockerMode>false</rockerMode>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <isOnOffSwitch>false</isOnOffSwitch>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>true</longClick>
        <longClickTimeoutMs>400</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <skipActuations>0</skipActuations>
        <adaptiveRepeat>false</adaptiveRepeat>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>FNX320_FCU-SPEED_PUSH</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>FNX320</Group>
          <Description>RPN</Description>
          <SimulatorEventName>FNX320-FCU_HEADING_PULL</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <RollMultiplier>1</RollMultiplier>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <upEvent>
          <Group>FNX320</Group>
          <Description>RPN</Description>
          <SimulatorEventName>FNX320-FCU_HEADING_PUSH</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <RollMultiplier>1</RollMultiplier>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </upEvent>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <repeatLimit>0</repeatLimit>
        <joystickGuid>55dc1710-53a1-11ec-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>0</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <rockerMode>false</rockerMode>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <isOnOffSwitch>false</isOnOffSwitch>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>true</longClick>
        <longClickTimeoutMs>400</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <skipActuations>0</skipActuations>
        <adaptiveRepeat>false</adaptiveRepeat>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>FNX320-FCU_HEADING_PULL</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>FNX320_FCU</Group>
          <Description>RPN</Description>
          <SimulatorEventName>FNX320_FCU-ALTITUDE_PULL</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <RollMultiplier>1</RollMultiplier>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <upEvent>
          <Group>FNX320_FCU</Group>
          <Description>RPN</Description>
          <SimulatorEventName>FNX320_FCU-ALTITUDE_PUSH</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <RollMultiplier>1</RollMultiplier>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </upEvent>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <repeatLimit>0</repeatLimit>
        <joystickGuid>55dc1710-53a1-11ec-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>4</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <rockerMode>false</rockerMode>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <isOnOffSwitch>false</isOnOffSwitch>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>true</longClick>
        <longClickTimeoutMs>400</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <skipActuations>0</skipActuations>
        <adaptiveRepeat>false</adaptiveRepeat>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>FNX320_FCU-ALTITUDE_PUSH</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>FNX320_FCU</Group>
          <Description>RPN</Description>
          <SimulatorEventName>FNX320_FCU-LOC</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <RollMultiplier>1</RollMultiplier>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <repeatLimit>0</repeatLimit>
        <joystickGuid>55dc1710-53a1-11ec-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>1</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <rockerMode>false</rockerMode>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <isOnOffSwitch>false</isOnOffSwitch>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>false</longClick>
        <longClickTimeoutMs>0</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <skipActuations>0</skipActuations>
        <adaptiveRepeat>false</adaptiveRepeat>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>FNX320_FCU-LOC</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>FNX320_FCU</Group>
          <Description>RPN</Description>
          <SimulatorEventName>FNX320_FCU-APPR</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <RollMultiplier>1</RollMultiplier>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <repeatLimit>0</repeatLimit>
        <joystickGuid>55dc1710-53a1-11ec-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>2</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <rockerMode>false</rockerMode>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <isOnOffSwitch>false</isOnOffSwitch>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>false</longClick>
        <longClickTimeoutMs>0</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <skipActuations>0</skipActuations>
        <adaptiveRepeat>false</adaptiveRepeat>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>FNX320_FCU-APPR</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>FNX320_FCU</Group>
          <Description>RPN</Description>
          <SimulatorEventName>FNX320_FCU-ALTITUDE_INC</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <RollMultiplier>1</RollMultiplier>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <repeatLimit>0</repeatLimit>
        <joystickGuid>55dc1710-53a1-11ec-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>12</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <rockerMode>false</rockerMode>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <isOnOffSwitch>false</isOnOffSwitch>
        <combinedKey>
          <repeat>16384</repeat>
          <repeatFrequency>1</repeatFrequency>
          <repeatLimit>0</repeatLimit>
          <joystickGuid>55dc1710-53a1-11ec-8001-444553540000</joystickGuid>
          <joystickName>Bravo Throttle Quadrant</joystickName>
          <joystickButton>20</joystickButton>
          <joystickPovControl>-1</joystickPovControl>
          <joystickPovDirection>-1</joystickPovDirection>
          <midiDeviceId>-1</midiDeviceId>
          <midiChannel>-1</midiChannel>
          <midiEvent>-1</midiEvent>
          <endless>false</endless>
          <rockerMode>false</rockerMode>
          <midiEncoder>NONE</midiEncoder>
          <isSimKey>false</isSimKey>
          <isOnOffSwitch>false</isOnOffSwitch>
          <comboSuppressesEvent>false</comboSuppressesEvent>
          <comboIsToggle>false</comboIsToggle>
          <longClick>false</longClick>
          <longClickTimeoutMs>0</longClickTimeoutMs>
          <fastTurn>false</fastTurn>
          <timeoutMs>0</timeoutMs>
          <skipActuations>0</skipActuations>
          <adaptiveRepeat>false</adaptiveRepeat>
          <assignedKeys />
          <vkModifiers />
          <vkKeys />
        </combinedKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>false</longClick>
        <longClickTimeoutMs>0</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <skipActuations>0</skipActuations>
        <adaptiveRepeat>false</adaptiveRepeat>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>FNX320_FCU-ALTITUDE_INC</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>FNX320_FCU</Group>
          <Description>RPN</Description>
          <SimulatorEventName>FNX320_FCU-HEADING_INC</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <RollMultiplier>1</RollMultiplier>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <repeatLimit>0</repeatLimit>
        <joystickGuid>55dc1710-53a1-11ec-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>12</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <rockerMode>false</rockerMode>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <isOnOffSwitch>false</isOnOffSwitch>
        <combinedKey>
          <repeat>16384</repeat>
          <repeatFrequency>1</repeatFrequency>
          <repeatLimit>0</repeatLimit>
          <joystickGuid>55dc1710-53a1-11ec-8001-444553540000</joystickGuid>
          <joystickName>Bravo Throttle Quadrant</joystickName>
          <joystickButton>18</joystickButton>
          <joystickPovControl>-1</joystickPovControl>
          <joystickPovDirection>-1</joystickPovDirection>
          <midiDeviceId>-1</midiDeviceId>
          <midiChannel>-1</midiChannel>
          <midiEvent>-1</midiEvent>
          <endless>false</endless>
          <rockerMode>false</rockerMode>
          <midiEncoder>NONE</midiEncoder>
          <isSimKey>false</isSimKey>
          <isOnOffSwitch>false</isOnOffSwitch>
          <comboSuppressesEvent>false</comboSuppressesEvent>
          <comboIsToggle>false</comboIsToggle>
          <longClick>false</longClick>
          <longClickTimeoutMs>0</longClickTimeoutMs>
          <fastTurn>false</fastTurn>
          <timeoutMs>0</timeoutMs>
          <skipActuations>0</skipActuations>
          <adaptiveRepeat>false</adaptiveRepeat>
          <assignedKeys />
          <vkModifiers />
          <vkKeys />
        </combinedKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>false</longClick>
        <longClickTimeoutMs>0</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <skipActuations>0</skipActuations>
        <adaptiveRepeat>false</adaptiveRepeat>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>FNX320_FCU-HEADING_INC</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>FNX320_FCU</Group>
          <Description>RPN</Description>
          <SimulatorEventName>FNX320_FCU-VERTICAL_SPEED_PULL</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <RollMultiplier>1</RollMultiplier>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <upEvent>
          <Group>FNX320_FCU</Group>
          <Description>RPN</Description>
          <SimulatorEventName>FNX320_FCU-VERTICAL_SPEED_PUSH</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <RollMultiplier>1</RollMultiplier>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </upEvent>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <repeatLimit>0</repeatLimit>
        <joystickGuid>55dc1710-53a1-11ec-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>5</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <rockerMode>false</rockerMode>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <isOnOffSwitch>false</isOnOffSwitch>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>true</longClick>
        <longClickTimeoutMs>400</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <skipActuations>0</skipActuations>
        <adaptiveRepeat>false</adaptiveRepeat>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>FNX320_FCU-VERTICAL_SPEED_PUSH</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>FNX320_FCU</Group>
          <Description>RPN</Description>
          <SimulatorEventName>FNX320_FCU-ALTITUDE_DEC</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <RollMultiplier>1</RollMultiplier>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <repeatLimit>0</repeatLimit>
        <joystickGuid>55dc1710-53a1-11ec-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>13</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <rockerMode>false</rockerMode>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <isOnOffSwitch>false</isOnOffSwitch>
        <combinedKey>
          <repeat>16384</repeat>
          <repeatFrequency>1</repeatFrequency>
          <repeatLimit>0</repeatLimit>
          <joystickGuid>55dc1710-53a1-11ec-8001-444553540000</joystickGuid>
          <joystickName>Bravo Throttle Quadrant</joystickName>
          <joystickButton>20</joystickButton>
          <joystickPovControl>-1</joystickPovControl>
          <joystickPovDirection>-1</joystickPovDirection>
          <midiDeviceId>-1</midiDeviceId>
          <midiChannel>-1</midiChannel>
          <midiEvent>-1</midiEvent>
          <endless>false</endless>
          <rockerMode>false</rockerMode>
          <midiEncoder>NONE</midiEncoder>
          <isSimKey>false</isSimKey>
          <isOnOffSwitch>false</isOnOffSwitch>
          <comboSuppressesEvent>false</comboSuppressesEvent>
          <comboIsToggle>false</comboIsToggle>
          <longClick>false</longClick>
          <longClickTimeoutMs>0</longClickTimeoutMs>
          <fastTurn>false</fastTurn>
          <timeoutMs>0</timeoutMs>
          <skipActuations>0</skipActuations>
          <adaptiveRepeat>false</adaptiveRepeat>
          <assignedKeys />
          <vkModifiers />
          <vkKeys />
        </combinedKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>false</longClick>
        <longClickTimeoutMs>0</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <skipActuations>0</skipActuations>
        <adaptiveRepeat>false</adaptiveRepeat>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>FNX320_FCU-ALTITUDE_DEC</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>FNX320_FCU</Group>
          <Description>RPN</Description>
          <SimulatorEventName>FNX320_FCU-HEADING_DEC</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <RollMultiplier>1</RollMultiplier>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <repeatLimit>0</repeatLimit>
        <joystickGuid>55dc1710-53a1-11ec-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>13</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <rockerMode>false</rockerMode>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <isOnOffSwitch>false</isOnOffSwitch>
        <combinedKey>
          <repeat>16384</repeat>
          <repeatFrequency>1</repeatFrequency>
          <repeatLimit>0</repeatLimit>
          <joystickGuid>55dc1710-53a1-11ec-8001-444553540000</joystickGuid>
          <joystickName>Bravo Throttle Quadrant</joystickName>
          <joystickButton>18</joystickButton>
          <joystickPovControl>-1</joystickPovControl>
          <joystickPovDirection>-1</joystickPovDirection>
          <midiDeviceId>-1</midiDeviceId>
          <midiChannel>-1</midiChannel>
          <midiEvent>-1</midiEvent>
          <endless>false</endless>
          <rockerMode>false</rockerMode>
          <midiEncoder>NONE</midiEncoder>
          <isSimKey>false</isSimKey>
          <isOnOffSwitch>false</isOnOffSwitch>
          <comboSuppressesEvent>false</comboSuppressesEvent>
          <comboIsToggle>false</comboIsToggle>
          <longClick>false</longClick>
          <longClickTimeoutMs>0</longClickTimeoutMs>
          <fastTurn>false</fastTurn>
          <timeoutMs>0</timeoutMs>
          <skipActuations>0</skipActuations>
          <adaptiveRepeat>false</adaptiveRepeat>
          <assignedKeys />
          <vkModifiers />
          <vkKeys />
        </combinedKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>false</longClick>
        <longClickTimeoutMs>0</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <skipActuations>0</skipActuations>
        <adaptiveRepeat>false</adaptiveRepeat>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>FNX320_FCU-HEADING_DEC</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>FNX320_FCU</Group>
          <Description>RPN</Description>
          <SimulatorEventName>FNX320_FCU-AP2</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <RollMultiplier>1</RollMultiplier>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <upEvent>
          <Group>FNX320_FCU</Group>
          <Description>RPN</Description>
          <SimulatorEventName>FNX320_FCU-AP1</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <RollMultiplier>1</RollMultiplier>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </upEvent>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <repeatLimit>0</repeatLimit>
        <joystickGuid>55dc1710-53a1-11ec-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>7</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <rockerMode>false</rockerMode>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <isOnOffSwitch>false</isOnOffSwitch>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>true</longClick>
        <longClickTimeoutMs>400</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <skipActuations>0</skipActuations>
        <adaptiveRepeat>false</adaptiveRepeat>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>FNX320_FCU-AP1</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>FNX320_FCU</Group>
          <Description>RPN</Description>
          <SimulatorEventName>FNX320_FCU-VERTICAL_SPEED_INC</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <RollMultiplier>1</RollMultiplier>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <repeatLimit>0</repeatLimit>
        <joystickGuid>55dc1710-53a1-11ec-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>12</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <rockerMode>false</rockerMode>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <isOnOffSwitch>false</isOnOffSwitch>
        <combinedKey>
          <repeat>16384</repeat>
          <repeatFrequency>1</repeatFrequency>
          <repeatLimit>0</repeatLimit>
          <joystickGuid>55dc1710-53a1-11ec-8001-444553540000</joystickGuid>
          <joystickName>Bravo Throttle Quadrant</joystickName>
          <joystickButton>19</joystickButton>
          <joystickPovControl>-1</joystickPovControl>
          <joystickPovDirection>-1</joystickPovDirection>
          <midiDeviceId>-1</midiDeviceId>
          <midiChannel>-1</midiChannel>
          <midiEvent>-1</midiEvent>
          <endless>false</endless>
          <rockerMode>false</rockerMode>
          <midiEncoder>NONE</midiEncoder>
          <isSimKey>false</isSimKey>
          <isOnOffSwitch>false</isOnOffSwitch>
          <comboSuppressesEvent>false</comboSuppressesEvent>
          <comboIsToggle>false</comboIsToggle>
          <longClick>false</longClick>
          <longClickTimeoutMs>0</longClickTimeoutMs>
          <fastTurn>false</fastTurn>
          <timeoutMs>0</timeoutMs>
          <skipActuations>0</skipActuations>
          <adaptiveRepeat>false</adaptiveRepeat>
          <assignedKeys />
          <vkModifiers />
          <vkKeys />
        </combinedKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>false</longClick>
        <longClickTimeoutMs>0</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <skipActuations>0</skipActuations>
        <adaptiveRepeat>false</adaptiveRepeat>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>FNX320_FCU-VERTICAL_SPEED_INC</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>FNX320_FCU</Group>
          <Description>RPN</Description>
          <SimulatorEventName>FNX320_FCU-VERTICAL_SPEED_DEC</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <RollMultiplier>1</RollMultiplier>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <repeatLimit>0</repeatLimit>
        <joystickGuid>55dc1710-53a1-11ec-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>13</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <rockerMode>false</rockerMode>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <isOnOffSwitch>false</isOnOffSwitch>
        <combinedKey>
          <repeat>16384</repeat>
          <repeatFrequency>1</repeatFrequency>
          <repeatLimit>0</repeatLimit>
          <joystickGuid>55dc1710-53a1-11ec-8001-444553540000</joystickGuid>
          <joystickName>Bravo Throttle Quadrant</joystickName>
          <joystickButton>19</joystickButton>
          <joystickPovControl>-1</joystickPovControl>
          <joystickPovDirection>-1</joystickPovDirection>
          <midiDeviceId>-1</midiDeviceId>
          <midiChannel>-1</midiChannel>
          <midiEvent>-1</midiEvent>
          <endless>false</endless>
          <rockerMode>false</rockerMode>
          <midiEncoder>NONE</midiEncoder>
          <isSimKey>false</isSimKey>
          <isOnOffSwitch>false</isOnOffSwitch>
          <comboSuppressesEvent>false</comboSuppressesEvent>
          <comboIsToggle>false</comboIsToggle>
          <longClick>false</longClick>
          <longClickTimeoutMs>0</longClickTimeoutMs>
          <fastTurn>false</fastTurn>
          <timeoutMs>0</timeoutMs>
          <skipActuations>0</skipActuations>
          <adaptiveRepeat>false</adaptiveRepeat>
          <assignedKeys />
          <vkModifiers />
          <vkKeys />
        </combinedKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>false</longClick>
        <longClickTimeoutMs>0</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <skipActuations>0</skipActuations>
        <adaptiveRepeat>false</adaptiveRepeat>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>FNX320_FCU-VERTICAL_SPEED_DEC</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>FNX320_FCU</Group>
          <Description>RPN</Description>
          <SimulatorEventName>FNX320_FCU-SPEED_DEC</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <RollMultiplier>1</RollMultiplier>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <repeatLimit>0</repeatLimit>
        <joystickGuid>55dc1710-53a1-11ec-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>13</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <rockerMode>false</rockerMode>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <isOnOffSwitch>false</isOnOffSwitch>
        <combinedKey>
          <repeat>16384</repeat>
          <repeatFrequency>1</repeatFrequency>
          <repeatLimit>0</repeatLimit>
          <joystickGuid>55dc1710-53a1-11ec-8001-444553540000</joystickGuid>
          <joystickName>Bravo Throttle Quadrant</joystickName>
          <joystickButton>16</joystickButton>
          <joystickPovControl>-1</joystickPovControl>
          <joystickPovDirection>-1</joystickPovDirection>
          <midiDeviceId>-1</midiDeviceId>
          <midiChannel>-1</midiChannel>
          <midiEvent>-1</midiEvent>
          <endless>false</endless>
          <rockerMode>false</rockerMode>
          <midiEncoder>NONE</midiEncoder>
          <isSimKey>false</isSimKey>
          <isOnOffSwitch>false</isOnOffSwitch>
          <comboSuppressesEvent>false</comboSuppressesEvent>
          <comboIsToggle>false</comboIsToggle>
          <longClick>false</longClick>
          <longClickTimeoutMs>0</longClickTimeoutMs>
          <fastTurn>false</fastTurn>
          <timeoutMs>0</timeoutMs>
          <skipActuations>0</skipActuations>
          <adaptiveRepeat>false</adaptiveRepeat>
          <assignedKeys />
          <vkModifiers />
          <vkKeys />
        </combinedKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>false</longClick>
        <longClickTimeoutMs>0</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <skipActuations>0</skipActuations>
        <adaptiveRepeat>false</adaptiveRepeat>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>FNX320_FCU-SPEED_DEC</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>FNX320_FCU</Group>
          <Description>RPN</Description>
          <SimulatorEventName>FNX320_FCU-SPEED_INC</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <RollMultiplier>1</RollMultiplier>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <repeatLimit>0</repeatLimit>
        <joystickGuid>55dc1710-53a1-11ec-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>12</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <rockerMode>false</rockerMode>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <isOnOffSwitch>false</isOnOffSwitch>
        <combinedKey>
          <repeat>16384</repeat>
          <repeatFrequency>1</repeatFrequency>
          <repeatLimit>0</repeatLimit>
          <joystickGuid>55dc1710-53a1-11ec-8001-444553540000</joystickGuid>
          <joystickName>Bravo Throttle Quadrant</joystickName>
          <joystickButton>16</joystickButton>
          <joystickPovControl>-1</joystickPovControl>
          <joystickPovDirection>-1</joystickPovDirection>
          <midiDeviceId>-1</midiDeviceId>
          <midiChannel>-1</midiChannel>
          <midiEvent>-1</midiEvent>
          <endless>false</endless>
          <rockerMode>false</rockerMode>
          <midiEncoder>NONE</midiEncoder>
          <isSimKey>false</isSimKey>
          <isOnOffSwitch>false</isOnOffSwitch>
          <comboSuppressesEvent>false</comboSuppressesEvent>
          <comboIsToggle>false</comboIsToggle>
          <longClick>false</longClick>
          <longClickTimeoutMs>0</longClickTimeoutMs>
          <fastTurn>false</fastTurn>
          <timeoutMs>0</timeoutMs>
          <skipActuations>0</skipActuations>
          <adaptiveRepeat>false</adaptiveRepeat>
          <assignedKeys />
          <vkModifiers />
          <vkKeys />
        </combinedKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>false</longClick>
        <longClickTimeoutMs>0</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <skipActuations>0</skipActuations>
        <adaptiveRepeat>false</adaptiveRepeat>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>FNX320_FCU-SPEED_INC</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>FNX320_FCU</Group>
          <Description>RPN</Description>
          <SimulatorEventName>FNX320_FCU-ATHR</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <RollMultiplier>1</RollMultiplier>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <repeatLimit>0</repeatLimit>
        <joystickGuid>55dc1710-53a1-11ec-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>29</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <rockerMode>false</rockerMode>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <isOnOffSwitch>false</isOnOffSwitch>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>false</longClick>
        <longClickTimeoutMs>0</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <skipActuations>0</skipActuations>
        <adaptiveRepeat>false</adaptiveRepeat>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>FNX320_FCU-ATHR</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>FNX320_OH</Group>
          <Description>RPN</Description>
          <SimulatorEventName>FNX320_OH-SIGNS_BELTS_ON</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <RollMultiplier>1</RollMultiplier>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <repeatLimit>0</repeatLimit>
        <joystickGuid>55dc1710-53a1-11ec-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>33</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <rockerMode>false</rockerMode>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <isOnOffSwitch>false</isOnOffSwitch>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>false</longClick>
        <longClickTimeoutMs>0</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <skipActuations>0</skipActuations>
        <adaptiveRepeat>false</adaptiveRepeat>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>FNX320_OH-SIGNS_BELTS_ON</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>FNX320_OH</Group>
          <Description>RPN</Description>
          <SimulatorEventName>FNX320_OH-SIGNS_BELTS_OFF</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <RollMultiplier>1</RollMultiplier>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <repeatLimit>0</repeatLimit>
        <joystickGuid>55dc1710-53a1-11ec-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>34</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <rockerMode>false</rockerMode>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <isOnOffSwitch>false</isOnOffSwitch>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>false</longClick>
        <longClickTimeoutMs>0</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <skipActuations>0</skipActuations>
        <adaptiveRepeat>false</adaptiveRepeat>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>FNX320_OH-SIGNS_BELTS_OFF</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>FNX320_MISC</Group>
          <Description>RPN</Description>
          <SimulatorEventName>FNX320_MISC-CAPT_TILLER_PEDAL_DISCONNECT_ON</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <RollMultiplier>1</RollMultiplier>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <repeatLimit>0</repeatLimit>
        <joystickGuid>55dc1710-53a1-11ec-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>39</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <rockerMode>false</rockerMode>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <isOnOffSwitch>false</isOnOffSwitch>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>false</longClick>
        <longClickTimeoutMs>0</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <skipActuations>0</skipActuations>
        <adaptiveRepeat>false</adaptiveRepeat>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>FNX320_MISC-CAPT_TILLER_PEDAL_DISCONNECT_ON</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>FNX320_MISC</Group>
          <Description>RPN</Description>
          <SimulatorEventName>FNX320_MISC-CAPT_TILLER_PEDAL_DISCONNECT_OFF</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <RollMultiplier>1</RollMultiplier>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <repeatLimit>0</repeatLimit>
        <joystickGuid>55dc1710-53a1-11ec-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>40</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <rockerMode>false</rockerMode>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <isOnOffSwitch>false</isOnOffSwitch>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>false</longClick>
        <longClickTimeoutMs>0</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <skipActuations>0</skipActuations>
        <adaptiveRepeat>false</adaptiveRepeat>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>FNX320_MISC-CAPT_TILLER_PEDAL_DISCONNECT_OFF</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>FNX320_EFIS1</Group>
          <Description>RPN</Description>
          <SimulatorEventName>FNX320_EFIS1-BARO_INC</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <RollMultiplier>1</RollMultiplier>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <repeatLimit>0</repeatLimit>
        <joystickGuid>55dc1710-53a1-11ec-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>12</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <rockerMode>false</rockerMode>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <isOnOffSwitch>false</isOnOffSwitch>
        <combinedKey>
          <repeat>16384</repeat>
          <repeatFrequency>1</repeatFrequency>
          <repeatLimit>0</repeatLimit>
          <joystickGuid>55dc1710-53a1-11ec-8001-444553540000</joystickGuid>
          <joystickName>Bravo Throttle Quadrant</joystickName>
          <joystickButton>17</joystickButton>
          <joystickPovControl>-1</joystickPovControl>
          <joystickPovDirection>-1</joystickPovDirection>
          <midiDeviceId>-1</midiDeviceId>
          <midiChannel>-1</midiChannel>
          <midiEvent>-1</midiEvent>
          <endless>false</endless>
          <rockerMode>false</rockerMode>
          <midiEncoder>NONE</midiEncoder>
          <isSimKey>false</isSimKey>
          <isOnOffSwitch>false</isOnOffSwitch>
          <comboSuppressesEvent>false</comboSuppressesEvent>
          <comboIsToggle>false</comboIsToggle>
          <longClick>false</longClick>
          <longClickTimeoutMs>0</longClickTimeoutMs>
          <fastTurn>false</fastTurn>
          <timeoutMs>0</timeoutMs>
          <skipActuations>0</skipActuations>
          <adaptiveRepeat>false</adaptiveRepeat>
          <assignedKeys />
          <vkModifiers />
          <vkKeys />
        </combinedKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>false</longClick>
        <longClickTimeoutMs>0</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <skipActuations>0</skipActuations>
        <adaptiveRepeat>false</adaptiveRepeat>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>FNX320_EFIS1-BARO_INC</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>FNX320_EFIS1</Group>
          <Description>RPN</Description>
          <SimulatorEventName>FNX320_EFIS1-BARO_DEC</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <RollMultiplier>1</RollMultiplier>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <repeatLimit>0</repeatLimit>
        <joystickGuid>55dc1710-53a1-11ec-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>13</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <rockerMode>false</rockerMode>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <isOnOffSwitch>false</isOnOffSwitch>
        <combinedKey>
          <repeat>16384</repeat>
          <repeatFrequency>1</repeatFrequency>
          <repeatLimit>0</repeatLimit>
          <joystickGuid>55dc1710-53a1-11ec-8001-444553540000</joystickGuid>
          <joystickName>Bravo Throttle Quadrant</joystickName>
          <joystickButton>17</joystickButton>
          <joystickPovControl>-1</joystickPovControl>
          <joystickPovDirection>-1</joystickPovDirection>
          <midiDeviceId>-1</midiDeviceId>
          <midiChannel>-1</midiChannel>
          <midiEvent>-1</midiEvent>
          <endless>false</endless>
          <rockerMode>false</rockerMode>
          <midiEncoder>NONE</midiEncoder>
          <isSimKey>false</isSimKey>
          <isOnOffSwitch>false</isOnOffSwitch>
          <comboSuppressesEvent>false</comboSuppressesEvent>
          <comboIsToggle>false</comboIsToggle>
          <longClick>false</longClick>
          <longClickTimeoutMs>0</longClickTimeoutMs>
          <fastTurn>false</fastTurn>
          <timeoutMs>0</timeoutMs>
          <skipActuations>0</skipActuations>
          <adaptiveRepeat>false</adaptiveRepeat>
          <assignedKeys />
          <vkModifiers />
          <vkKeys />
        </combinedKey>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>false</longClick>
        <longClickTimeoutMs>0</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <skipActuations>0</skipActuations>
        <adaptiveRepeat>false</adaptiveRepeat>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>FNX320_EFIS1-BARO_DEC</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>FNX320_PED</Group>
          <Description>RPN</Description>
          <SimulatorEventName>FNX320_PED-FLAPS_FULL</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <RollMultiplier>1</RollMultiplier>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <repeatLimit>0</repeatLimit>
        <joystickGuid>55dc1710-53a1-11ec-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>32</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <rockerMode>false</rockerMode>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <isOnOffSwitch>false</isOnOffSwitch>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>false</longClick>
        <longClickTimeoutMs>0</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <skipActuations>0</skipActuations>
        <adaptiveRepeat>false</adaptiveRepeat>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>FNX320_PED-FLAPS_FULL</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>FNX320_EFIS1</Group>
          <Description>RPN</Description>
          <SimulatorEventName>FNX320_EFIS1-BARO_STD_ON</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <RollMultiplier>1</RollMultiplier>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <repeatLimit>0</repeatLimit>
        <joystickGuid>55dc1710-53a1-11ec-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>43</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <rockerMode>false</rockerMode>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <isOnOffSwitch>false</isOnOffSwitch>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>false</longClick>
        <longClickTimeoutMs>0</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <skipActuations>0</skipActuations>
        <adaptiveRepeat>false</adaptiveRepeat>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>FNX320_EFIS1-BARO_STD_ON</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>FNX320_EFIS1</Group>
          <Description>RPN</Description>
          <SimulatorEventName>FNX320_EFIS1-BARO_STD_OFF</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <RollMultiplier>1</RollMultiplier>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <repeatLimit>0</repeatLimit>
        <joystickGuid>55dc1710-53a1-11ec-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>44</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <rockerMode>false</rockerMode>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <isOnOffSwitch>false</isOnOffSwitch>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>false</longClick>
        <longClickTimeoutMs>0</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <skipActuations>0</skipActuations>
        <adaptiveRepeat>false</adaptiveRepeat>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>FNX320_EFIS1-BARO_STD_OFF</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>FNX320_OH</Group>
          <Description>RPN</Description>
          <SimulatorEventName>FNX320_OH-INT_LT_DOME_OFF</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <RollMultiplier>1</RollMultiplier>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <repeatLimit>0</repeatLimit>
        <joystickGuid>55dc1710-53a1-11ec-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>46</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <rockerMode>false</rockerMode>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <isOnOffSwitch>false</isOnOffSwitch>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>false</longClick>
        <longClickTimeoutMs>0</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <skipActuations>0</skipActuations>
        <adaptiveRepeat>false</adaptiveRepeat>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>FNX320_OH-INT_LT_DOME_OFF</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>FNX320_OH</Group>
          <Description>RPN</Description>
          <SimulatorEventName>FNX320_OH-INT_LT_DOME_DIM</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <RollMultiplier>1</RollMultiplier>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <repeatLimit>0</repeatLimit>
        <joystickGuid>55dc1710-53a1-11ec-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>45</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <rockerMode>false</rockerMode>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <isOnOffSwitch>false</isOnOffSwitch>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>false</longClick>
        <longClickTimeoutMs>0</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <skipActuations>0</skipActuations>
        <adaptiveRepeat>false</adaptiveRepeat>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>FNX320_OH-INT_LT_DOME_DIM</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>FNX320_PED</Group>
          <Description>RPN</Description>
          <SimulatorEventName>FNX320_PED-XPDR_OPERATION_AUTO</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <RollMultiplier>1</RollMultiplier>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <repeatLimit>0</repeatLimit>
        <joystickGuid>55dc1710-53a1-11ec-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>42</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <rockerMode>false</rockerMode>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <isOnOffSwitch>false</isOnOffSwitch>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>false</longClick>
        <longClickTimeoutMs>0</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <skipActuations>0</skipActuations>
        <adaptiveRepeat>false</adaptiveRepeat>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>FNX320_PED-XPDR_OPERATION_AUTO</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>FNX320_PED</Group>
          <Description>RPN</Description>
          <SimulatorEventName>FNX320_PED-XPDR_OPERATION_ON</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <RollMultiplier>1</RollMultiplier>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <repeatLimit>0</repeatLimit>
        <joystickGuid>55dc1710-53a1-11ec-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>41</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <rockerMode>false</rockerMode>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <isOnOffSwitch>false</isOnOffSwitch>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>false</longClick>
        <longClickTimeoutMs>0</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <skipActuations>0</skipActuations>
        <adaptiveRepeat>false</adaptiveRepeat>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>FNX320_PED-XPDR_OPERATION_ON</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>FNX320_EFIS1</Group>
          <Description>RPN</Description>
          <SimulatorEventName>FNX320_EFIS1-FD</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <RollMultiplier>1</RollMultiplier>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <upEvent>
          <Group>FNX320_EFIS1</Group>
          <Description>RPN</Description>
          <SimulatorEventName>FNX320_EFIS1-FD</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <RollMultiplier>1</RollMultiplier>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </upEvent>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <repeatLimit>0</repeatLimit>
        <joystickGuid>55dc1710-53a1-11ec-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>38</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <rockerMode>false</rockerMode>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <isOnOffSwitch>false</isOnOffSwitch>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>false</longClick>
        <longClickTimeoutMs>0</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <skipActuations>0</skipActuations>
        <adaptiveRepeat>false</adaptiveRepeat>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>FNX320_EFIS1-FD</Action>
      </GlobalHotkey>
      <GlobalHotkey>
        <downEvent>
          <Group>FNX320_EFIS1</Group>
          <Description>RPN</Description>
          <SimulatorEventName>FNX320_EFIS1-LS</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <RollMultiplier>1</RollMultiplier>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </downEvent>
        <upEvent>
          <Group>FNX320_EFIS1</Group>
          <Description>RPN</Description>
          <SimulatorEventName>FNX320_EFIS1-LS</SimulatorEventName>
          <MinValue>0</MinValue>
          <MaxValue>0</MaxValue>
          <ValueToSet>1</ValueToSet>
          <RollMultiplier>1</RollMultiplier>
          <IsAaoVirtualEvent>false</IsAaoVirtualEvent>
          <type>SCRIPT</type>
        </upEvent>
        <repeat>16384</repeat>
        <repeatFrequency>1</repeatFrequency>
        <repeatLimit>0</repeatLimit>
        <joystickGuid>55dc1710-53a1-11ec-8001-444553540000</joystickGuid>
        <joystickName>Bravo Throttle Quadrant</joystickName>
        <joystickButton>36</joystickButton>
        <joystickPovControl>-1</joystickPovControl>
        <joystickPovDirection>-1</joystickPovDirection>
        <midiDeviceId>-1</midiDeviceId>
        <midiChannel>-1</midiChannel>
        <midiEvent>-1</midiEvent>
        <endless>false</endless>
        <rockerMode>false</rockerMode>
        <midiEncoder>NONE</midiEncoder>
        <isSimKey>false</isSimKey>
        <isOnOffSwitch>false</isOnOffSwitch>
        <comboSuppressesEvent>false</comboSuppressesEvent>
        <comboIsToggle>false</comboIsToggle>
        <longClick>false</longClick>
        <longClickTimeoutMs>0</longClickTimeoutMs>
        <fastTurn>false</fastTurn>
        <timeoutMs>0</timeoutMs>
        <skipActuations>0</skipActuations>
        <adaptiveRepeat>false</adaptiveRepeat>
        <assignedKeys />
        <vkModifiers />
        <vkKeys />
        <Action>FNX320_EFIS1-LS</Action>
      </GlobalHotkey>
    </buttons>
    <axis />
    <overrideSaitekPanelInMidiMode />
    <overrideSaitekEvents />
    <overrideSaitekVariables />
    <autoScripts />
    <virtualGaugesTemplateGuid>00000000-0000-0000-0000-000000000000</virtualGaugesTemplateGuid>
    <desktopGaugesTemplateGuid>00000000-0000-0000-0000-000000000000</desktopGaugesTemplateGuid>
    <webGaugesTemplateGuid>00000000-0000-0000-0000-000000000000</webGaugesTemplateGuid>
    <bVarProfileGuid>00000000-0000-0000-0000-000000000000</bVarProfileGuid>
  </template>
  <scripts>
    <Script>
      <group>FNX320_FCU</group>
      <label>SPEED_PULL</label>
      <script>(L:S_FCU_SPEED, Number) ++ (&gt;L:S_FCU_SPEED, Number) </script>
    </Script>
    <Script>
      <group>FNX320_FCU</group>
      <label>SPEED_PUSH</label>
      <script>(L:S_FCU_SPEED, Number) -- (&gt;L:S_FCU_SPEED, Number) </script>
    </Script>
    <Script>
      <group>FNX320_FCU</group>
      <label>ALTITUDE_PULL</label>
      <script>(L:S_FCU_ALTITUDE, Number) ++ (&gt;L:S_FCU_ALTITUDE, Number) </script>
    </Script>
    <Script>
      <group>FNX320_FCU</group>
      <label>ALTITUDE_PUSH</label>
      <script>(L:S_FCU_ALTITUDE, Number) -- (&gt;L:S_FCU_ALTITUDE, Number) </script>
    </Script>
    <Script>
      <group>FNX320_FCU</group>
      <label>LOC</label>
      <script>1 (&gt;L:S_FCU_LOC, Number) (SLEEP:100) 2 (&gt;L:S_FCU_LOC, Number) </script>
    </Script>
    <Script>
      <group>FNX320_FCU</group>
      <label>APPR</label>
      <script>1 (&gt;L:S_FCU_APPR, Number) (SLEEP:100) 2 (&gt;L:S_FCU_APPR, Number) </script>
    </Script>
    <Script>
      <group>FNX320_FCU</group>
      <label>ALTITUDE_INC</label>
      <script>(L:E_FCU_ALTITUDE, Number) ++ (&gt;L:E_FCU_ALTITUDE, Number) </script>
    </Script>
    <Script>
      <group>FNX320_FCU</group>
      <label>HEADING_INC</label>
      <script>(L:E_FCU_HEADING, Number) ++ (&gt;L:E_FCU_HEADING, Number) </script>
    </Script>
    <Script>
      <group>FNX320_FCU</group>
      <label>VERTICAL_SPEED_PULL</label>
      <script>(L:S_FCU_VERTICAL_SPEED, Number) ++ (&gt;L:S_FCU_VERTICAL_SPEED, Number) </script>
    </Script>
    <Script>
      <group>FNX320_FCU</group>
      <label>VERTICAL_SPEED_PUSH</label>
      <script>(L:S_FCU_VERTICAL_SPEED, Number) -- (&gt;L:S_FCU_VERTICAL_SPEED, Number) </script>
    </Script>
    <Script>
      <group>FNX320_FCU</group>
      <label>ALTITUDE_DEC</label>
      <script>(L:E_FCU_ALTITUDE, Number) -- (&gt;L:E_FCU_ALTITUDE, Number) </script>
    </Script>
    <Script>
      <group>FNX320_FCU</group>
      <label>HEADING_DEC</label>
      <script>(L:E_FCU_HEADING, Number) -- (&gt;L:E_FCU_HEADING, Number) </script>
    </Script>
    <Script>
      <group>FNX320_FCU</group>
      <label>AP2</label>
      <script>1 (&gt;L:S_FCU_AP2, Number) (SLEEP:100) 2 (&gt;L:S_FCU_AP2, Number) </script>
    </Script>
    <Script>
      <group>FNX320_FCU</group>
      <label>AP1</label>
      <script>1 (&gt;L:S_FCU_AP1, Number) (SLEEP:100) 2 (&gt;L:S_FCU_AP1, Number) </script>
    </Script>
    <Script>
      <group>FNX320_FCU</group>
      <label>VERTICAL_SPEED_INC</label>
      <script>(L:E_FCU_VS, Number) ++ (&gt;L:E_FCU_VS, Number) </script>
    </Script>
    <Script>
      <group>FNX320_FCU</group>
      <label>VERTICAL_SPEED_DEC</label>
      <script>(L:E_FCU_VS, Number) -- (&gt;L:E_FCU_VS, Number) </script>
    </Script>
    <Script>
      <group>FNX320_FCU</group>
      <label>SPEED_DEC</label>
      <script>(L:E_FCU_SPEED, Number) -- (&gt;L:E_FCU_SPEED, Number) </script>
    </Script>
    <Script>
      <group>FNX320_FCU</group>
      <label>SPEED_INC</label>
      <script>(L:E_FCU_SPEED, Number) ++ (&gt;L:E_FCU_SPEED, Number) </script>
    </Script>
    <Script>
      <group>FNX320_FCU</group>
      <label>ATHR</label>
      <script>1 (&gt;L:S_FCU_ATHR, Number) (SLEEP:100) 2 (&gt;L:S_FCU_ATHR, Number) </script>
    </Script>
    <Script>
      <group>FNX320_OH</group>
      <label>SIGNS_BELTS_ON</label>
      <script>1 (&gt;L:S_OH_SIGNS, Number) </script>
    </Script>
    <Script>
      <group>FNX320_OH</group>
      <label>SIGNS_BELTS_OFF</label>
      <script>0 (&gt;L:S_OH_SIGNS, Number) </script>
    </Script>
    <Script>
      <group>FNX320_MISC</group>
      <label>CAPT_TILLER_PEDAL_DISCONNECT_ON</label>
      <script>1 (&gt;L:S_FC_CAPT_TILLER_PEDAL_DISCONNECT, Number) </script>
    </Script>
    <Script>
      <group>FNX320_MISC</group>
      <label>CAPT_TILLER_PEDAL_DISCONNECT_OFF</label>
      <script>0 (&gt;L:S_FC_CAPT_TILLER_PEDAL_DISCONNECT, Number) </script>
    </Script>
    <Script>
      <group>FNX320_EFIS1</group>
      <label>BARO_INC</label>
      <script>(L:E_FCU_EFIS1_BARO, Number) ++ (&gt;L:E_FCU_EFIS1_BARO, Number) </script>
    </Script>
    <Script>
      <group>FNX320_EFIS1</group>
      <label>BARO_DEC</label>
      <script>(L:E_FCU_EFIS1_BARO, Number) -- (&gt;L:E_FCU_EFIS1_BARO, Number) </script>
    </Script>
    <Script>
      <group>FNX320_PED</group>
      <label>FLAPS_FULL</label>
      <script>4 (&gt;L:S_FC_FLAPS, Number) </script>
    </Script>
    <Script>
      <group>FNX320_EFIS1</group>
      <label>BARO_STD_ON</label>
      <script>1 (&gt;L:S_FCU_EFIS1_BARO_STD, Number) </script>
    </Script>
    <Script>
      <group>FNX320_EFIS1</group>
      <label>BARO_STD_OFF</label>
      <script>0 (&gt;L:S_FCU_EFIS1_BARO_STD, Number) </script>
    </Script>
    <Script>
      <group>FNX320_OH</group>
      <label>INT_LT_DOME_OFF</label>
      <script>0 (&gt;L:S_OH_INT_LT_DOME, Number) </script>
    </Script>
    <Script>
      <group>FNX320_OH</group>
      <label>INT_LT_DOME_DIM</label>
      <script>1 (&gt;L:S_OH_INT_LT_DOME, Number) </script>
    </Script>
    <Script>
      <group>FNX320_PED</group>
      <label>XPDR_OPERATION_AUTO</label>
      <script>1 (&gt;L:S_XPDR_OPERATION, Number) </script>
    </Script>
    <Script>
      <group>FNX320_PED</group>
      <label>XPDR_OPERATION_ON</label>
      <script>2 (&gt;L:S_XPDR_OPERATION, Number) </script>
    </Script>
    <Script>
      <group>FNX320_EFIS1</group>
      <label>FD</label>
      <script>1 (&gt;L:S_FCU_EFIS1_FD, Number) (SLEEP:100) 2 (&gt;L:S_FCU_EFIS1_FD, Number) </script>
    </Script>
    <Script>
      <group>FNX320_EFIS1</group>
      <label>LS</label>
      <script>1 (&gt;L:S_FCU_EFIS1_LS, Number) (SLEEP:100) 2 (&gt;L:S_FCU_EFIS1_LS, Number) </script>
    </Script>
  </scripts>
</TemplateExport>